h1,
h2 {

    color: orange;
    text-align: left;
}

.mydiv {
    background-color: orange;
    height: 200px;
    width: 200px;
    /* da un espacio a los elementos adentro del div con respecto al div */
    padding: 30px;
    /* da un espacio con respecto al elemento en el que esta contenido */
    margin: 0 auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table,
td,
th {
    border: 2px solid orange;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

a {
    color: orange;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

a:visited {
    color: orangered;
}

ul>li {
    color: orange;
}

ul li a {
    List-style-type: none;
}